/*------------------------------------MEDIA-QUERIES------------------*/

@media (min-width: 1350px){

  .white-gradient {
   width:2000px;
    height: 80px;
    top: 200px;
    padding-top: 125px;
  }
  
  .gradient {
    z-index: -1;
    width: 100%;
    position: absolute;
    height: 850px;
    opacity: 80%;
    margin: 0%;
  }
  
  h3 {
    padding: 25px 100px;
    font-size: 15em;
    line-height: 0.75em;
    letter-spacing: -2px;
    padding-top: 260px;
  }
  
  .hr {
    margin-top: 0px;
    margin-left: 100px;
    margin-right: 100px;
    border: 2px solid rgb(255, 255, 255);
    z-index: 90;
  }
  
  .contacts {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
    justify-content: space-between;
  
    .dontWorry {
      font-size: 14px;
      display: none;
    }
  }

  .selected-projects {
    padding: 0px;
    padding-top: 50px;
    text-align: center;

    .project-image {
      background-color: black;
      height: 550px;
      width: 75%;
      object-fit: cover;
      transition: 0.5s;
    }
}

}

@media (max-width: 1350px) and (min-width: 1080px) {
  .nav-bar {
    #nav-left {
      padding-left: 75px;
    }

    #nav-right {
      padding-right: 75px;
    }
  }

  .home-left {
    padding-left: 75px;
    width: 650px;

    /*-------PATTERN------------------------------*/

    .whole-pattern {
      transform: scale(0.33);
      width: fit-content;
      position: relative;
      top: -250px;
      translate: -34%;
    }

    .shapes:hover {
      transform: scale(1);
    }
  }

  .home-right {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 50px;
    padding-right: 75px;
    width: 200px;
    max-height: 495px;
    line-height: 20px;
    position: relative;
    left: 100px;


    .tuesday {
      position: relative;
      top: 13.5px;
    }
  }

  .selected-projects {
    padding: 0px;
    padding-top: 80px;
    text-align: center;

    .project-image {
      background-color: black;
      height: 475px;
      width: 75%;
      object-fit: cover;
      transition: 0.5s;
    }
}

.white-gradient {
width: 100%;
  padding-top: 100px;
}

.gradient {
  z-index: -1;
  width: 100%;
  position: absolute;
  height: 750px;
  opacity: 80%;
  margin: 0%;
}

h3 {
  padding: 25px 75px;
  font-size: 13em;
  line-height: 0.75em;
  letter-spacing: -2px;
  padding-top: 250px;
}

.hr {
  margin-top: 0px;
  margin-left: 75px;
  margin-right: 75px;
  border: 2px solid rgb(255, 255, 255);
  z-index: 90;
}

.contacts {
  display: flex;
  padding-left: 75px;
  padding-right: 75px;
  color: white;
  justify-content: space-between;

  .dontWorry {
    font-size: 14px;
    display: none;
  }
}


}

@media (max-width: 1080px) and (min-width: 993px) {
  .nav-bar {
    #nav-left {
      padding-left: 75px;
    }

    #nav-right {
      padding-right: 75px;
    }
  }

  .home-left {
    padding-left: 75px;
    width: 650px;

    /*-------PATTERN------------------------------*/

    .whole-pattern {
      transform: scale(0.27);
      width: fit-content;
      position: relative;
      top: -250px;
      translate: -37%;
    }

    .shapes:hover {
      transform: scale(1);
    }
  }

  .home-right {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 50px;
    padding-right: 75px;
    width: 500px;
    max-height: 470px;
    justify-content: space-between;
    line-height: 20px;

    .tuesday {
      position: relative;
      top: 13.5px;
    }
  }
  /*-----------------ABOUT-----------------*/
  .aboutme {
    height: 450px;

    .hiddentxt {
      margin-top: 0px;
      padding-top: 100px;
    }

    .hiddentxt:hover {
      font-size: 950%;
    }

    .hiddenimg {
      opacity: 100%;
    }
  }

  h2 {
    font-size: 5em;
    margin-top: 50px;
    padding-left: 75px;
    padding-right: 75px;
  }

  .selected-projects {
    padding: 0px;
    padding-top: 80px;
    text-align: center;


    .project-image {
      background-color: black;
      height: 475px;
      width: 85%;
      object-fit: cover;
      transition: 0.5s;
    }
  }

  .white-gradient {
    width: 100%;
    height: 80px;
    top: 175px;
    padding-top: 100px;
  }

  .gradient {
    z-index: -1;
    width: 100%;
    position: absolute;
    height: 550px;
    opacity: 80%;
    margin: 0%;
  }

  h3 {
    padding: 25px 75px;
    font-size: 9.5em;
    line-height: 0.75em;
    letter-spacing: -2px;
    padding-top: 160px;
  }

  .hr {
    margin-top: 0px;
    margin-left: 75px;
    margin-right: 75px;
    border: 2px solid rgb(255, 255, 255);
    z-index: 90;
  }

  .contacts {
    display: flex;
    padding-left: 75px;
    padding-right: 75px;
    color: white;
    justify-content: space-between;

    .dontWorry {
      font-size: 14px;
      display: none;
    }
  }


}

@media (max-width: 992px) and (min-width: 688px) {
  /*------------------------------------IPADS------------------*/

  /*--------NavBar1------------------------------*/
  .nav-bar {
    font-size: 23px;

    .hamburger {
      display: block;
      padding-right: 50px;
    }

    #nav-left {
      padding-left: 50px;
    }

    #nav-right {
      display: none;
    }
  }

  /*--------Home------------------------------*/

  #staticPattern {
    display: none;
  }

  #staticPattern2 {
    display: block;
    width: 88%;
    padding-left: 50px;
  }

  #whole-home {
    padding-top: 120px;
    flex-direction: column;
    transition: 0.5s;
  }

  .intro {
    margin-top: 0px;
    padding-bottom: 30px;
    font-size: 1.25em;
  }

  .home-left {
    padding-left: 50px;
    width: 88%;
    justify-content: space-between;

    h1 {
      font-size: 10em;
      height: 195px;
    }
  }

  .description {
    font-size: 1.25em;
    line-height: 25px;
    width: 65%;
  }

  .whole-pattern {
    display: none;
  }

  .tuesday {
    width: 100%;
    margin-top: 30px;
    text-align: right;
    font-size: 1.25em;
    line-height: 25px;
  }

  .home-right {
    width: 88%;
    padding: 0px 50px;
    flex-direction: row;
  }

  /*--------------------ABOUT---------------*/

  .aboutme {
    height: 650px;

    .hiddentxt {
      margin-top: 0px;
      padding-top: 200px;
    }

    .hiddentxt:hover {
      font-size: 950%;
    }

    .hiddenimg {
      opacity: 100%;
    }
  }

  /*-------PROJECTS------------------------------*/

  h2 {
    font-size: 5em;
    margin-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
  }


  .selected-projects {
    padding: 0px;
    padding-top: 80px;
    text-align: center;

    .project-image {
      background-color: black;
      height: 75%;
      width: 88%;
      object-fit: cover;
      transition: 0.5s;
    }
  }

  /*-------CONTACT------------------------------*/

  .white-gradient {
    width: 100%;
    height: 80px;
    top: 155px;
    padding-top: 75px;
  }

  .gradient {
    z-index: -1;
    width: 100%;
    position: absolute;
    height: 550px;
    opacity: 80%;
    margin: 0%;
  }

  h3 {
    padding: 25px 50px;
    font-size: 9.5em;
    line-height: 0.75em;
    letter-spacing: -2px;
    padding-top: 160px;
  }

  .hr {
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
    border: 2px solid rgb(255, 255, 255);
    z-index: 90;
  }

  .contacts {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    justify-content: space-between;

    .dontWorry {
      font-size: 14px;
      display: none;
    }
  }

  .custom,
  .custom1,
  .custom2,
  .custom3 {
    cursor: auto;
  }
}

@media (max-width: 688px) {
  /*------------------------------------PHONE------------------*/
  .intro {
    padding-right: 25px;
  }

  /*--------NavBar1------------------------------*/

  .nav-bar {
    font-size: 14px;
    height: 70px;

    .hamburger {
      display: block;
      padding-right: 25px;
    }

    #nav-left {
      padding-left: 25px;
    }

    #nav-right {
      display: none;
      padding-right: 0px;
    }
  }

  /*--------Home------------------------------*/

  #staticPattern {
    display: block;
    width: 88%;
    padding-left: 25px;
  }

  #staticPattern2 {
    display: none;
  }

  #whole-home {
    padding-top: 90px;
    flex-direction: column;
    transition: 0.5s;
  }

  .intro {
    margin-top: 15px;
    padding-bottom: 10px;
    font-size: 16px;
  }

  .home-left {
    padding-left: 25px;
    padding-top: 30px;
    width: 86%;
    justify-content: space-between;

    h1 {
      font-size: 6em;
      height: 75px;
      padding-left: 4px;
      bottom: 30px;
    }
  }

  .description {
    display: none;
  }
  /*-------PATTERN------------------------------*/

  .whole-pattern {
    display: none;
  }

  .home-right {
    justify-content: space-between;
    padding: 0px 25px;
    flex-direction: column;
  }

  /*-------ABOUT LINK------------------------------*/

  .aboutme {
    .hiddentxt {
      padding-top: 125px;
      transition: 0s;
      margin-top: 0px;
    }

    .who {
      padding-bottom: 125px;
    }

    .hiddenimg {
      display: none;

      .me {
        display: none;
      }
    }

    .hiddentxt:hover {
      font-size: 950%;
    }
  }

  /*-------PROJECTS------------------------------*/

  h2 {
    font-size: 3em;
    margin-top: 0px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .selected-projects {
    padding: 0px;
    padding-top: 50px;
    text-align: center;

    .project-image {
      background-color: black;
      height: 75%;
      width: 88%;
      object-fit: cover;
      transition: 0.5s;
    }
  }

  /*---------CONTACT------------------------------*/

  .white-gradient {
    width: 100%;
    height: 80px;
    top: 155px;
    padding-top: 75px;
  }

  .gradient {
    z-index: -1;
    width: 100%;
    position: absolute;
    height: 475px;
    opacity: 80%;
    margin: 0%;
  }

  h3 {
    padding: 25px;
    font-size: 7.5em;
    line-height: 0.75em;
    letter-spacing: -2px;
    padding-top: 160px;
  }

  .hr {
    margin-top: 0px;
margin-left: 25px;
margin-right: 25px;
    border: 2px solid rgb(255, 255, 255);
    z-index: 90;
  }

  .contacts {
    display: flex;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    justify-content: space-between;

    .dontWorry {
      font-size: 14px;
      display: none;
    }
  }

  .custom,
  .custom1,
  .custom2,
  .custom3 {
    cursor: auto;
  }
}

@media (max-width: 400px) {
  h3 {
    font-size: 6.5em;
  }
  .hr {
    max-width: 85%;
  }

  .nav-bar {
    font-size: 13px;
  }
}

@media (max-width: 340px) {
  #whole-home {
    padding-top: 50px;
  }

  h3 {
    font-size: 5.5em;
  }
  .aboutme {
    .hiddentxt {
      padding-top: 125px;
      transition: 0s;
      font-size: 700%;
      margin-top: 0px;
    }

    .hiddentxt:hover {
      font-size: 700%;
    }
  }
}
