@import url(responsive.scss);
/*--------Variables------------------------------*/
/*--------Cursor------------------------------*/
/*--------Start------------------------------*/
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "HelveticaNeue-Light";
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: #e66666;
}

/*--------NavBar1------------------------------*/
.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  background-color: white;
  z-index: 100;
  -webkit-transition: -webkit-transform 3s;
  transition: -webkit-transform 3s;
  transition: transform 3s;
  transition: transform 3s, -webkit-transform 3s;
  min-width: 100%;
  padding-right: 100px;
  height: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar .hamburger {
  font-size: 30px;
  height: 17px;
  font-family: "Poppins", sans-serif;
  position: relative;
  bottom: 20px;
  display: none;
}

.nav-bar #nav-left {
  padding-left: 100px;
}

.nav-bar #nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 50px;
  padding-right: 100px;
  max-height: 18px;
}

.nav-bar #nav-right .nav-dot {
  cursor: url("./images/minimouse.png") 0 20, auto;
}

.nav-bar #nav-right .nav-dot1 {
  cursor: url("./images/minimouse1.png") 20 20, auto;
}

.nav-bar #nav-right .nav-dot2 {
  cursor: url("./images/minimouse2.png") 20 20, auto;
}

/*--------NavBar2------------------------------*/
.navbar2 {
  height: 75px;
}

.nav--hidden {
  position: absolute !important;
  top: -999px !important;
  left: -999px !important;
}

/*--------Home------------------------------*/
#whole-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 630px;
  padding-top: 100px;
}

#staticPattern {
  display: none;
}

.home-left {
  padding-left: 100px;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 800px;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*-------PATTERN------------------------------*/
}

.home-left h1 {
  font-size: 10em;
  margin: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  height: 190px;
  position: relative;
  right: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

.home-left .whole-pattern {
  -webkit-transform: scale(0.42);
          transform: scale(0.42);
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  position: relative;
  top: -200px;
  translate: -29%;
}

.home-left .row1, .home-left .row2, .home-left .row3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.home-left .shapes:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 70ms;
  transition: 70ms;
  z-index: 100;
}

.home-left .two-rows {
  min-width: 270px;
}

.home-left .two-cols {
  min-width: 268px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
  padding-right: 100px;
  max-width: 390px;
  max-height: 630px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 20px;
}

.home-right .tuesday {
  position: relative;
  top: 13.5px;
}

/*-------ABOUT LINK------------------------------*/
.aboutme {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 100px 0px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutme .hiddentxt {
  margin-top: 250px;
  font-size: 950%;
  margin-bottom: 0;
  font-family: "Bebas Neue", cursive;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  z-index: 50;
  -webkit-transition: 1s;
  transition: 1s;
}

.aboutme .hiddenimg {
  opacity: 0%;
  -webkit-transform: 1s;
          transform: 1s;
  position: relative;
  bottom: 325px;
  right: 150px;
  -webkit-transition: 1s;
  transition: 1s;
}

.aboutme .hiddenimg .me {
  max-width: 150px;
  max-height: auto;
  border-radius: 25px;
}

.aboutme .hiddentxt:hover ~ .hiddenimg {
  opacity: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-bottom: -125px;
}

.aboutme .hiddentxt:hover {
  font-size: 175px;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

/*-------PROJECTS------------------------------*/
h2 {
  padding: 0px 100px 0px 100px;
  font-size: 5em;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0%;
}

.selected-projects {
  padding: 0px 100px 0px 100px;
  padding-top: 50px;
  text-align: center;
  padding-top: 100px;
}

.selected-projects .project-image {
  background-color: black;
  height: 516px;
  width: 76%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.selected-projects .project-caption {
  padding-left: 150px;
  padding-right: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px;
}

/*---------CONTACT------------------------------*/
.white-gradient {
  max-width: 1440px;
  height: 250px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(rgba(255, 255, 255, 0.523)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(white, rgba(255, 255, 255, 0.523), rgba(255, 255, 255, 0));
  position: relative;
  top: 250px;
  margin-top: -150px;
}

.gradient {
  z-index: -1;
  width: 1440px;
  position: absolute;
  height: 900px;
  opacity: 80%;
  margin: 0%;
}

h3 {
  padding: 0px 100px 0px 100px;
  font-size: 250px;
  line-height: 190px;
  letter-spacing: -10px;
  z-index: 2;
  position: relative;
  padding-top: 300px;
  color: white;
  font-family: "Bebas Neue", cursive;
  margin: 0px;
}

.dot {
  color: white;
  font-family: "Poppins", sans-serif;
}

.hr {
  margin-top: 25px;
  max-width: 1240px;
  border: 2px solid white;
  z-index: 90;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  color: white;
  gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts #linkedin:visited {
  text-decoration: none;
  color: white;
}

.contacts #linkedin:active {
  color: black;
}

.contacts .dontWorry {
  font-size: 14px;
}

/*---------PROJECT-CURSORS------------------------------*/
.custom {
  cursor: url("./images/mouse.png") 30 30, auto;
}

.custom1 {
  cursor: url("./images/mouse1.png") 30 30, auto;
}

.custom2 {
  cursor: url("./images/mouse2.png") 30 30, auto;
}

.custom3 {
  cursor: url("./images/mouse3.png") 30 30, auto;
}

#switchDiv {
  background-color: white;
}
/*# sourceMappingURL=style.css.map */